.menu {
    width: 70px;
    height: 100vh;

    /* 삭제 */
    border: 1px solid red;
}

.menu-inner .arrow-btn-box {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-btn-box .arrow-btn {
    background-image: url('../image/nav/arrow.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
}