.hide {
    display: none !important;
}

.show {
    display: block !important;
}




#splitter {
    width: 100%;
    height: 100%;
}

.splitter_panel .hsplitter {
    background-color: #5F5F5F;
    cursor: row-resize;
    height: 1px;
}

.hsplitter::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background-image: url('../image/header/info-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


