
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

/* 바 */
.hsplitter {
    /* background-color: red !important; */
}

/* 스플릿 바 */
#splitter {
    width: 100%;
    height: 100%;
}