.hide {
    display: none !important;
}

.show {
    display: block !important;
}




#splitter {
    width: 100%;
    height: 100%;
}

.splitter_panel .hsplitter {
    background-color: #5F5F5F;
    cursor: row-resize;
    height: 1px;
}

.hsplitter::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background-image: url('../image/split/ico_split.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


.list-grid-box .grid-box {
    display: flex;
    flex-direction: column;
}

.grid-box .server-table{
    width: 100%;
    height: 100%;
}

.table-header {
    background-color: #F9F9F9;
    height: 40px;
}
.table-header-row .table-header-item {
    padding-left: 16px;
    font-weight: 600;
    font-size: 12px;
    color: #84919A;
}
.table-header-item .table-header-check {
    border: 1px solid #B0BABF;
    border-radius: 4;
    
}

.table-body .table-item-row {
    border-top: 1px solid #E5E9EB;
    height: 40px;
}
.table-item-row .table-item {
    padding-left: 16px;
    color: #252C32;
    font-size: 14px;
    
}
.table-item .table-item-check {}

.table-body .table-item-row:nth-child(even) {
    background-color: #F6F9FF;
}

.table {
    width: 100%;
}

.grid-option-box .option-inner {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E5E9EB;
}
.option-search-box .search-img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}
.option-inner .option-search-box {
    margin-left: 18px;
    width: 280px;
    height: 32px;
    border: 1px solid #DDE2E4;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.option-search-box .search-text {
    border: 0px;
    border-radius: 6px;
    width: 100%;
    margin-left: 8px;
}

.option-inner .option-api-box {
    position: absolute;
    right: 30px;
    display: flex;
}
.api-refresh-box img {
    cursor: pointer;
}

.option-api-box .api-page {
    padding-left: 30px;
    padding-right: 30px;
}
.api-page .page-title {
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}
.api-page-arrow .page-arrow-btn {
    width: 7.5px;
    height: 12px;
    cursor: pointer;
}

.api-page-arrow .page-arrow-btn:nth-child(1) {
    margin-right: 38px;
}